name: Gradle Hero
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java-version: [ 8, 11, 17 ]
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK ${{ matrix.java-version }}
        uses: actions/setup-java@v2
        with:
          java-version: ${{ matrix.java-version }}
          distribution: 'adopt'
          cache: gradle
      - name: Build with Gradle
        run: ./gradlew build
        working-directory: exclude-dependencies
      - name: Build with Gradle
        run: ./gradlew build
        working-directory: groovy-vs-kotlin/groovy
      - name: Build with Gradle
        run: ./gradlew build
        working-directory: groovy-vs-kotlin/kotlin
      - name: Build with Gradle
        run: ./gradlew build
        working-directory: task-inputs-and-outputs/ad-hoc-task
      - name: Build with Gradle
        run: ./gradlew build
        working-directory: task-inputs-and-outputs/all-types-custom-task
      - name: Build with Gradle
        run: ./gradlew build
        working-directory: task-inputs-and-outputs/custom-task
      - name: Build with Gradle
        run: ./gradlew build
        working-directory: task-inputs-and-outputs/custom-task-define-inputs-and-outputs-externally
      - name: Build with Gradle
        run: ./gradlew build
        working-directory: task-inputs-and-outputs/linking-tasks
      - name: Build with Gradle
        run: ./gradlew build
        working-directory: task-inputs-and-outputs/pre-packaged-task
      - name: Build with Gradle
        run: ./gradlew build
        working-directory: task-inputs-and-outputs/sharing-outputs-between-projects